services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    command: npm run dev
    depends_on:
      - mongo
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
        - action: rebuild
          path: ./backend/package.json

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    develop:
      watch: 
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/
            - .git/
            - Dockerfile
            - package-lock.json 
        - action: rebuild
          path: ./frontend/package.json


volumes:
  mongo_data:
